<h1>Rooms monitor</h1>

<table>
    <thead>
        <tr>
            <th>Room name</th> 
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @rooms.each do |room|%>
            <tr>
                <td><%= room.room_name %></td>
                <td><%= button_to 'Show', room_path(room.id), method: "get" %></td>
                <td><%= button_to 'Delete', room_path(room.id), method: "delete" %></td>
            </tr>
        <% end %>
    </tbody>
</table>